body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(#9b59b6, #2b0a60);
}
.wrapper {
  /* border: 2px solid black; */
  width: 200px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span {
  position: absolute;
  top: 75px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  left: 23%;
  color: #fff;
  font-size: 20px;
  letter-spacing: 8px;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 15%;
  transform-origin: 50%;
  /* animation-name: circle;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease; */
  animation: circle 0.5s ease infinite alternate;
}
@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2){
    left: 45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left: auto;
    right: 15%;
    animation-delay: .3s;
}
.shadow{
  width: 20px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}
@keyframes shadow{
  0%{
      transform: scaleX(1.5);
  }
  40%{
    transform: scaleX(1);
    opacity: .7;

  }
  100%{
    transform: scaleX(.2);
    opacity: .4;

  }
}
.shadow:nth-child(4){
  left: 45%;
  animation-delay:.2s;

}
.shadow:nth-child(5){
  left: auto;
  right: 15%;
  animation-delay: .3s;
}
